html, body, * {
    margin: 0px;
    padding: 0px;
  }

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url('/image/bl-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
  
.header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

h1 {
  color: white;
  font-size: 4em;
  padding: 20px;
  filter: drop-shadow(20px 20px 10px black);
}

.button-container {
  width: 40em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  filter: drop-shadow(20px 20px 10px black);
}

.grid-container {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 500px;
  display: grid;
}

button {
  border: 1px black solid;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  text-transform: capitalize;
  white-space: nowrap;
  filter: drop-shadow(20px 20px 10px black);
}

@media (max-width: 675px) {
  .button-container {
    display: grid;
  }
}